<html>
 <head>
   <meta charset="UTF-8">
   <title>{% block title %}{% endblock %}</title>
   {% block cssjs %}{% endblock %}
 </head>
 <body>
    <!-- Menu -->
    <nav class="menu" id="theMenu">
     <div class="menu-wrap">
       <h1 class="logo"><a href="index.html#home">Volunteers</a></h1>
       <i class="fa fa-times-circle menu-close"></i>
       <a href="#home" class="smoothscroll">О программе</a>
       <a href="#services" class="smoothscroll">Этапы</a>
       <a href="#portfolio" class="smoothscroll">Роли</a>
       <a href="#about" class="smoothscroll">События</a>
       <a href="#contact" class="smoothscroll">Личный кабинет</a>
       <a href="index.html#"><i class="fa fa-vk"></i></a>
       <a href="index.html#"><i class="fa fa-instagram"></i></a>
       <a href="index.html#"><i class="fa fa-twitter"></i></a>  
     </div>
 
     <!-- Menu button -->
     <div id="menuToggle"><i class="fa fa-bars"></i></div>
   </nav>
{% block content %}

{% endblock %}
 </body>
</html>